<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">3D Model</span>
            </button>
            <a class="navbar-brand" href="#">3D Model</a>
        </div>

        <ul class="nav navbar-nav mr-auto navbar-collapse">

            <li class="nav-item dropdown" th:if="${session.user!=null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" th:text="${session.user.getName()}">
                    <span class="caret-handle"></span></a>
                <ul class="dropdown-menu" >
                    <li><a class="dropdown-item" href="#">Message Center</a></li>
                    <li><a class="dropdown-item" href="#">Personal Infomation</a></li>
                    <li><a class="dropdown-item" href="#">Exit</a></li>
                </ul>
            </li>
            <li class="nav-item" th:if="${session.user==null}">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=Iv1.6525d5de46b824ef&redirect_uri=http://localhost:8887/callback&scope=user&state=1">Login</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="form-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>